body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    color: #1a1f36;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .quiz-container {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #quiz {
    margin-bottom: 20px;
  }
  
  button {
    background: #00aaff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 450px;
    margin: 5px auto
  }
  
  button:hover {
    background: #0088cc;
  }
  ul {
    list-style-type: none;
  }
  
  #retry {
    display: none;
  }